{% load static %}
<!-- Start Contact info -->
<div class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>WhatsApp</h4>
                    <p class="lead">
                        +963 981-237-131
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        tanoorhatab@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        سوريا 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact info -->

<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <h3>من نحن</h3>
                <p class="arabic-text">نقدم أشهى الأطباق العربية التقليدية، من المندي إلى الكبة والمأكولات المشوية على الحطب، بلمسة أصيلة تجمع بين الطعم الرائع والجودة العالية.</p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3>الفروع</h3>
				<p>الفرع الاول : ميدان جزماتية - قبل جامع الصحابة</p>
				<p>0981237131 <samp>0118840744</samp></p>
				<p>0938026248 <samp>0118819828</samp></p>
				<p>الفرع الثاني : قدسيا - طريق الجمعيات - بعد مقسم الهاتف</p>
				<p>0982601040 <samp>0113232240</samp></p>
				<p>0982601030 <samp>0113232040</samp></p>
				<p>الفرع الثالث : مزة - شيخ سعد - مقابل بنايات ال 14 بناء الجبان</p>
				<p>0958973785 <samp>0116629555</samp></p>
				<p>0958973786 <samp>0116629666</samp></p>


            </div>

            <div class="col-lg-3 col-md-6">
                <h3>شكاوي الإدارة السيد ابو وليد</h3>
                <p class="lead"><a href="https://wa.me/963981237131">+963 981-237-131</a> <a href="https://wa.me/963981237131"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></p>
                <p><a href="mailto:tanoorhatab@gmail.com">tanoorhatab@gmail.com</a></p>
				<p dir="rtl"><span class="text-color">كل ايام الاسبوع</span> من <span dir="ltr">12:00 PM</span> حتى <span dir="ltr">2:00 AM</span></p>

            </div>

            <div class="col-lg-3 col-md-6">
                <h3>تابعونا</h3>
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="https://www.facebook.com/TanorwHatab" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/tanorhatab"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="https://wa.me/963981237131"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">أفضل الأطعمة العربية الأصيلة في المنطقة</p> 
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
